@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM0p4Y8z3p6SkLklm5z4Tgl8Osm5LhK5/2g7m" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item me-5">
            <a href="/Cart" title="View Cart">
                <img src="/images/Site/shopping-cart.png" alt="Alternate Text" />
            </a>
        </li>
    <li class="nav-item">
            <a href="/Profile"title="Profile">
               <img src="/images/Site/profile-icon.png"></img>
            </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
<style>
    img{
        width:50px;
    }
</style>