@model KickShop.ViewModels.CategoryEditViewModel

<div class="form-container">
    <h2>Edit Category</h2>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Image">Category Image</label>
            <input type="file" class="form-control" id="Image" name="Image" />
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
